body{
    font-size:15px;
    font-family: Helvetica, sans-serif;
    color:#333;
}
.page{
}
/*两个标题公共的部分写在一起*/
.sectionTitle{
    font-size:17px;
    color:#333;
    line-height:1;
    padding-left:7px;
    border-left:2px solid #D33A31;
    margin:21px 0 16px;
}




/*top-bar*/
.top-control-wrapper{
    height:104px;
}
.top-bar{
    background:#D43C33;
    display: flex;
    padding:18px 10px 16px 10px;
    justify-content:space-between;
    position: fixed;
    width:100%;
    left:0;
    top:0;
    z-index:3;
}
.top-bar > .logo{
    margin: 2px 0;
}
.top-bar > .logo svg{
    width:142px;
    height:25px;
    vertical-align: top;
}
/*.top-bar > a{*/
    /*display: block;*/
/*}*/
.top-bar > .download{
    color:white;
    position:relative;
    padding:0 10px;
    line-height:30px;
    top:-1px;
}
.top-bar > .download::after{
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:200%;
    height:200%;
    border:1px solid white;
    border-radius:30px;
    transform:scale(0.5);
    transform-origin:0 0;
}

/*tabs-control*/
.tabs-control{
    position: fixed;
    left:0;
    width:100%;
    top:64px;
    background:white;
    z-index:3;
}
.tabs-control ol{
    position:relative;
    display: flex;
    text-align:center;
}
.tabs-control ol::after{
    content:'';
    display: block;
    position:absolute;
    left:0;
    bottom:0;
    width:200%;
    border-bottom:1px solid rgba(0,0,0,.2);
    transform: scale(.5);
    transform-origin: 0 0;
}
.tabs-control ol li{
    width:33.33333%;
    line-height:35px;
    color:#333;
    padding:2.5px 0 0;
}
.tabs-control ol li.active{
   color:#d33a31;
}
.tabs-control ol li div{
    padding:0 5px;
    display: inline-block;
    /*line-height: 38px;*/
}
.tabs-control ol li.active div{
    border-bottom:2px solid #d33a31;
}

/*tabs-content1*/
.tabs-content1{
    display: none;
    background:#FCFCFD;
}
.tabs-content1.active{
    display: block;
}
/*推荐歌单*/

.recommend-list > ol.lists{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    /*margin-top:16px;*/
}
.recommend-list > ol.lists li{
    /* min-width:calc(33.3333% - 2px); */
    margin-bottom:16px;
    position:relative;
    max-width:32.8%;
}
.recommend-list > ol.lists li img{
    width:104.5px;
    height:104.5px;
    vertical-align:middle;

}
.recommend-list > ol.lists li p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size:13px;
    padding:6px 2px 0 6px;
    line-height:1.2;
}
.recommend-list > ol.lists li span{
    position:absolute;
    right:5px;
    top:2px;
    color:white;
    font-size:12px;
}
.recommend-list > ol.lists li span i{
}
.recommend-list > ol.lists li span i svg{
   width:11px;
    height:10px;
}
/*最新音乐*/
.new-music{
    margin-top:24px;
}
.new-music .loading{
    text-align:center;
}
.new-music .loading img{
    width:20px;
    height:auto;
}
.new-music ul.new-lists{}
.new-music ul.new-lists li{
    padding-left:10px;
}
.new-music ul.new-lists li a{
    display: flex;
    justify-content: space-between;
    position:relative;
}
.new-music ul.new-lists li .music-item{
   padding:6px 0;
}
.new-music ul.new-lists a::after{
    content:'';
    display: block;
    position:absolute;
    bottom:0;
    left:0;
    transform:scale(.5);
    width:200%;
    /*height:200%;*/
    transform-origin: 0 0;
    border-bottom:1px solid rgba(0,0,0,.2);
}

.new-music ul.new-lists li .music-item{
    width:268px;
}
.new-music ul.new-lists li h2{
    font-size:17px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding:1px 0;
}
.new-music ul.new-lists li h2 span{
    color:#888;
    margin-left:4px;
}
.new-music ul.new-lists li p{
    font-size:12px;
    color:#888;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding:1px 0;
}
.new-music ul.new-lists li p i{
    width:12px;
    height:8px;
    margin-right:-2px;
    vertical-align: middle;
    margin-left:-3px;
}
.icon-sq{
    width:1em;
    height:1em;
    fill:#FE672E;
    vertical-align:middle;
    overflow:hidden;
}
.new-music ul.new-lists li .play {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-music ul.new-lists li .play svg{
   width:22px;
    height:22px;
    margin-right:10px;
    vertical-align: middle;
}
/*footer*/
.footer{
    display: flex;
    flex-direction:column;
    align-items:center;
    background:url('http://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922') no-repeat center;
    background-size:cover;
}
.footer .bottom-logo{
    margin-top:43px;
    width:230px;
}
.footer .button{
    border:1px solid #d33a31;
    color:#d33a31;
    font-size:16px;
    padding:9px 21px;
    border-radius:20px;
    margin-top:14px;
}
.footer p.copyright{
    font-size:12px;
    transform:scale(.75);
    color:#888;
}


/*....................第二个页面..................*/
.tabs-content2{
    display: none;
}
.tabs-content2.active{
    display: block;

}
/*热歌榜*/
.tabs-content2 .hot-banner{
   background: transparent url('http://s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee') no-repeat center;
    padding-left:20px;
    padding-top:.1px;
    padding-bottom:16px;
    /*position:relative;*/
}
/*.tabs-content2 .hot-banner::after{*/
    /*content:'';*/
    /*display: block;*/
    /*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*width:100%;*/
    /*height:100%;*/
    /*background: rgba(202,202,203,.2);*/
    /*z-index:0;*/
/*}*/
.tabs-content2 .hot-banner .hot-notice{
   background: url('https://i.loli.net/2017/08/22/599c513e4c3f0.png') no-repeat -24px -30px;
    width:142px;
    height:67px;
    background-size:166px 97px;
    margin-top:15px;
}
.tabs-content2 .hot-banner .date{
   font-size:12px;
    margin-top:10px;
    color: rgba(255,255,255,.8);
    transform:scale(.91);
    transform-origin: 0 0;
}
/*热歌列表*/
.tabs-content2 .hot-lists{
    background:#fcfcfd;
}
.tabs-content2 .hot-lists li{
    display: flex;
    justify-content:space-between;
    padding-left:10px;
    align-items:center;
}
.tabs-content2 .hot-lists li .item-play-wrap{
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.tabs-content2 .hot-lists li .item-play-wrap::after{
   content:'';
    display: block;
    position:absolute;
    bottom:0;
    left:0;
    /*height:200%;*/
    width:200%;
    border-bottom:1px solid rgba(0,0,0,.1);
    transform: scale(.5);
    transform-origin:0 0;
}
.tabs-content2 .hot-lists .order{
    font-size:17px;
    width:28px;
    margin-top:1px;
    color:#999;
}
.tabs-content2 .hot-lists li:first-child .order{
    color:#d33a31;
}
.tabs-content2 .hot-lists li:nth-child(2) .order{
    color:#d33a31;
}
.tabs-content2 .hot-lists li:nth-child(3) .order{
    color:#d33a31;
}
.tabs-content2 .hot-lists .hot-item{
    width:240px;
    padding:5.5px 0;
}
.tabs-content2 .hot-lists .hot-item h2{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size:17px;
    padding:1px 0;
    /*line-height:25px;*/
}
.tabs-content2 .hot-lists .hot-item h2 span{
    color:#888;
}
.tabs-content2 .hot-lists .hot-item p{
    font-size:12px;
    color:#888;
    padding:1px 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.tabs-content2 .hot-lists .hot-item p i{
    width:12px;
    height:8px;
    margin-right:-2px;
    vertical-align: middle;
    margin-left:-3px;
    display: none;
}
.tabs-content2 .hot-lists .hot-item p i.active{
    display: inline;
}
.tabs-content2 .hot-lists .hot-item p i svg{
    display: none;
}
.tabs-content2 .hot-lists .hot-item p i.active svg{
    display: inline;
    width:18px;
    height:12px;
    vertical-align:bottom;
}
.tabs-content2 .hot-lists .hot-play{
    padding:0 10px;
}
.tabs-content2 .hot-lists .hot-play svg{
    width:22px;
    height:22px;
}
.tabs-content2 .whole-list{
    color:#999;
    font-size:14px;
    text-align: center;
    background:#fcfcfd;
}
.tabs-content2 .whole-list span{
    display: inline-block;
   line-height: 55px;
    padding-right:3px;
}
.tabs-content2 .whole-list i svg{
   width:7px;
    height:12px;
    vertical-align: middle;
}

/*.....................第三个页面.....................*/
.tabs-content3{
    display: none;
    background:#FBFCFD;
    height:100vh;
}
.tabs-content3.active{
    display: block;
}
.tabs-content3 .search-wrap{
    padding:15px 10px;
    position:relative;
}
.tabs-content3 .search-wrap::after{
    content:'';
    display: block;;
    position:absolute;
    bottom:0;
    left:0;
    width:200%;
    transform:scale(.5);
    transform-origin:0 0;
    border-bottom:1px solid rgba(0,0,0,.1);
}
.tabs-content3 .search{
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius:30px;
    background:#EBECEC;
}
.tabs-content3 .search i{
    display: block;
    width:13px;
    height:13px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNiAyNiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjYzljOWNhIiBkPSJNMjUuMTgxLDIzLjUzNWwtMS40MTQsMS40MTRsLTcuMzE1LTcuMzE0CgkJQzE0LjcwOSwxOS4xMDcsMTIuNDYsMjAsMTAsMjBDNC40NzcsMjAsMCwxNS41MjMsMCwxMEMwLDQuNDc3LDQuNDc3LDAsMTAsMGM1LjUyMywwLDEwLDQuNDc3LDEwLDEwYzAsMi4zNDItMC44MTEsNC40OS0yLjE2LDYuMTk1CgkJTDI1LjE4MSwyMy41MzV6IE0xMCwyYy00LjQxOCwwLTgsMy41ODItOCw4czMuNTgyLDgsOCw4YzQuNDE4LDAsOC0zLjU4Miw4LThTMTQuNDE4LDIsMTAsMnoiLz48L3N2Zz4=');
    margin:0 8px;
    vertical-align:middle;
}
.tabs-content3 .search #output{
    /*除去默认的border*/
    border: 1px solid #ebebeb;
    font-size:14px;
    background:#EBECEC;
    color:#333;
    line-height:26px;
    flex-grow:1;
    /*除去默认的outline*/
    outline:none;
}
/*重写占位符的样式*/
.tabs-content3 .search #output::-webkit-input-placeholder{
    color:#c9c9c9;
}
/*.tabs-content3 .search #output::-webkit-search-cancel-button{*/
    /*-webkit-appearance: none;*/
    /*background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOCAyOCI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjYmNiZGJkIiBkPSJNMTQsMGM3LjczMiwwLDE0LDYuMjY4LDE0LDE0YzAsNy43MzItNi4yNjgsMTQtMTQsMTQKCVMwLDIxLjczMiwwLDE0QzAsNi4yNjgsNi4yNjgsMCwxNCwweiIvPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ViZWNlYiIgc3Ryb2tlLXdpZHRoPSIyLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCI+PHBhdGggZD0ibTE5IDlsLTEwIDEwIi8+PHBhdGggZD0ibTkgOWwxMCAxMCIvPjwvZz48L2c+PC9zdmc+');*/
/*}*/
.tabs-content3 .search .half-circle{
    width:30px;
    height:30px;
}
.tabs-content3 .hot-search{
    padding:12px 10px 0;
}
.tabs-content3 .hot-search h3{
    font-size:12px;
    margin-bottom:9px;
}
.tabs-content3 .hot-search ul.hot-lists{
    display: flex;
    flex-wrap:wrap;
}
.tabs-content3 .hot-search ul.hot-lists li{
    font-size:14px;
    position:relative;
    margin-right:8px;
    margin-bottom:8px;
    padding: 5px 14px;
    line-height:22px;
}
.tabs-content3 .hot-search ul.hot-lists li::after{
    content:'';
    display: block;
    position:absolute;
    left:0;
    top:0;
    width:200%;
    height:200%;
    border-radius:32px;
    border:1px solid rgba(0,0,0,.2);
    transform:scale(.5);
    transform-origin:0 0;
}
.tabs-content3 .hot-search #searchResults.hidden{
    display:none;
}
.tabs-content3 .hot-search #searchResults{
    display: block;
    
}
