body{
    font-family: Helvetica, sans-serif;
}
.page{
    background:transparent url('http://p3.music.126.net/nfAuKY8Gx5V3kFhzlc9c5w==/17756013277324793.jpg') no-repeat;
    background-size:cover;
    display: flex;
    flex-direction:column;
    height:100vh;
    position: relative;
}
.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
/*.page::after{*/
    /*content:'';*/
    /*display: block;*/
    /*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*width:100%;*/
    /*height:100%;*/
    /*background:#7f7f7f;*/
    /*z-index:-1;*/
/*}*/
.disc-container{
    position:relative;
}
.disc-container .pointer{
    position:absolute;
    top:0;
    left:44.8%;
    z-index:1;

}
.disc-container .pointer img{
   width:84px;
   height:122px;
}
.disc-container .disc{
    position:relative;
    /* display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center; */
    margin-top:63px;
    outline:1px solid ;
    height:248px;
}
.disc-container .disc .icon-wrap{
    /* position:absolute; */
    z-index:1;
    width:50px;
    height:50px;
    border:1px solid white;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.4);
}
.disc-container .disc .icon-pause{
    display: none;
}
.disc-container.playing .disc .icon-play{
    display: none;
}
.disc-container.playing .disc .icon-pause{
    display: flex;
}
.disc-container .pointer{
    transform-origin: 0 0;
    transform:rotateZ(-20deg);
    transition: transform .5s ease;
}
.disc-container.playing .pointer{
   transform: rotateZ(0deg) ;
}
.disc-container .disc .icon{
    /*position: absolute;*/
    fill:white;
    width:18px;
    height:18px;
    outline:1px solid red;
    /*z-index:2;*/
}
.disc-container .disc .ring{
    display: block;
    width:248px;
    outline:1px solid red;
    margin:0 auto;
}
.disc-container .disc .light{
    /* position:absolute; */
    width:248px;
    animation: circling 20s linear infinite;
    animation-play-state: paused;
    outline:1px solid blue;
    /* left:50%;
    top:50%;
    transform:translate(-50%,-50%); */

}
.disc-container.playing .disc .light{
    animation-play-state: running;
}
.disc-container .disc .center-image{
    /* position:absolute; */
    width:150px;
    border-radius:50%;
    animation: circling 20s linear infinite;
    animation-play-state: paused;
    outline:1px solid red;
    /* margin:0 auto; */
    /* left:50%;
    top:50%;
    transform:translate(-50%,-50%); */
}
.disc-container.playing .disc .center-image{
    animation-play-state: running;
}

.lyrics{
    text-align:center;
    padding:0 35px;
    margin-top:22px;
}
.lyrics .lyric-head{
    font-size:15px;
    color:#fefefe;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.lyrics .lyric-content{
   margin-top:13px;
    height:72px;
    overflow:hidden;
}
.lyrics .lyric-content p{
    font-size:13px;
    color:rgba(255,255,255,.6);
    line-height:19px;
    padding-bottom:5px;
}
.lyrics .lyric-content p.lyric-now{
    color:white;
}

.links{
    display: flex;
    justify-content: center;
    position:relative;
    margin-top:75px;
}
.links .open{
    color:#d43b32;
    font-size:15px;
    border:1px solid #d43b32;
    padding:7px 42.5px;
    border-radius:4px;
}
.links .download{
    font-size:15px;
   background:#d43b32;
    color:white;
    padding:7px 42.5px;
    border-radius:4px;
    margin-left:12px;
}


@keyframes circling{
    0%{
        transform: rotateZ(0deg)
    }
    100%{
        transform: rotateZ(360deg)
    }
}
